ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 2rem;
}

.navBar {
  background: #0c4433;
  box-shadow: 4px 2px 5px gray;
  color: white;
  padding: 1rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid #0c4433;
  color: white;
  padding: 0.4rem 0.4rem;
  width: 40em;
  margin-left: 2em;
}

.navBar button:hover {
  background: white;
  color: #0c4433;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.space {
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
}